In [1]:
#python strung split() method 
#str.split(separator)

mystr='Hello World'
print(mystr.split())

['Hello', 'World']

In [3]:
langs='c,python,r,lava,sql,hadoop,'
print(langs.split(','))

['c', 'python', 'r', 'lava', 'sql', 'hadoop', '']

In [5]:
fruits='apples$banana$mango$fig$pear'
print(fruits.split('$'))

['apples', 'banana', 'mango', 'fig', 'pear']

In [6]:
#the following examples limits the split by specifying the maxsplit parameter 

langs='c,python,r,lava,sql,hadoop,'
print(langs.split(',',3))

['c', 'python', 'r', 'lava,sql,hadoop,']

In [8]:
fruits='apples$banana$mango$fig$pear'
print(fruits.split('$',2))

['apples', 'banana', 'mango$fig$pear']

In [10]:
#python string upper() method 
#str.upper()
mystr="Hello World"
print(mystr.upper())

HELLO WORLD

In [11]:
# TUPLE TUPLE TUPLE TUPLE TUPLE

t1= (12,23,45,56) #tuple of integer
t1=('how','are','you')
t1=((1,2),(2,3))

In [15]:
# TUPLE CONSTRUCTER--------
t1=tuple('shourya')


a=12,23,45

t1=12,23,45,56,67 # tuple packing
a,b,c,d,e=t1   # unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

12
23
45
56
67

In [16]:
t2=(12)
print(type(t2))

<class 'int'>

In [17]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [18]:
#accessing
t1=(12,23,45,56,67)
print(t1[0])
print(t1[3])
print(t1[-1])
print(t1[-2])

12
56
67
56

In [19]:
#updating
t1=(12,23,45,56)
t2=('how','are')
print(t1+t2)

(12, 23, 45, 56, 'how', 'are')

In [22]:
#index()
ti=(12,23,45,12,23,12)
print(t1)
x=t1.index(23)
print(x)

(12, 23, 45, 56)
1

In [26]:
#t1=(1,2,3,4,5,6)
#immutable
#addinf one element in tuple

t1=(1,2,3,4,5,6)
ls=list(t1)
ls.append(98)
t1=tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6, 98)

In [25]:
#update an element in the tuple
t1=(1,2,3,4,5,6)
ls=list(t1)
ls[2]='hello'
t1=tuple(ls)
print(t1)

(1, 2, 'hello', 4, 5, 6)

In [27]:
del t1
print(t1)

NameError: name 't1' is not defined

In [28]:
t2=12,
print(type(t2))

<class 'tuple'>