# function

In [2]:
def addition():
    a=int(input('enter the number'))
    b=int(input('enter the number'))
    c=a+b
    print('the sum is',c)

In [3]:
addition()

enter the number 2
enter the number 4

the sum is 6

In [4]:
addition()

enter the number 4
enter the number 7

the sum is 11

In [5]:
def check():
    n=int(input('enter the number'))
    if n%2==0:
        print('even number')
    else:
        print('odd number')

In [6]:
check()

enter the number 2

even number

In [7]:
check()

enter the number 5

odd number

In [8]:
import math
x=math.factorial(5)
print(x)

120

In [9]:
def fact():
    n=int(input('enter the number'))
    f=1
    while n>0:
        f=f*n
        n=n-1
    print('factorial is ',f)

In [10]:
fact()

enter the number 3

factorial is  6

In [11]:
fact()

enter the number 5

factorial is  120

In [12]:
def reverse():
    n=int(input('enter the number'))
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print('the reverse is',rev)

In [13]:
reverse()

enter the number 4

the reverse is 4

In [15]:
reverse()

enter the number 6788

the reverse is 8876

In [17]:
def creat():
    ls=[]
    for i in range(10):
        n=int(input('enter the number'))
        ls.append(n)
    print(ls)

creat()

# argument function

def function_name(arg1,arg2,arg3...):
     logic/computation 

function_name(agr1,arg2,arg3...)

In [20]:
def addition(a,b):
    c=a+b
    print('the sum is',c)

In [21]:
addition(56,45)

the sum is 101

In [23]:
x=int(input())
y=int(input())
addition(x,y)

 2
 4

the sum is 6

In [24]:
def leap_year(n):
    if n%4==0:
        print('leap year')
    else:
        print('not a leap year')

In [25]:
leap_year(2024)

leap year

In [26]:
y=int(input())
leap_year(y)

 2012

leap year

In [27]:
def fact(n):
    f=1
    while n>0:
        f=f*n
        n=n-1
    print('the factorial is',f)

In [28]:
fact(3)

the factorial is 6

In [29]:
fact(30)

the factorial is 265252859812191058636308480000000

In [32]:
def reverse(n):
    rev=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    print('the reverse is ',rev)

In [33]:
reverse(1234)

the reverse is  4321

In [36]:
x=int(input())
reverse(x)

 3456

the reverse is  6543

In [1]:
def oddeven(n):
    ls_e=[]
    ls_o=[]
    for i in n:
        if i%2==0:
            ls_e.append(i)
        else:
            ls_o.append(i)
    print('even list',ls_e)
    print('odd list',ls_o)

In [2]:
oddeven([1,2,3,4,523,3,23,32,43,433435,34,43])

even list [2, 4, 32, 34]
odd list [1, 3, 523, 3, 23, 43, 433435, 43]

In [4]:
def rev_list(n):
    print(n[::-1])

In [5]:
rev_list([12,34,4,445])

[445, 4, 34, 12]

In [16]:
def rev_list(n):
    for i in range(len(n)-1,-1,-1):
        print(n[i])

In [17]:
rev_list([12,34,45,])

45
34
12

In [23]:
def rev_list(n):
    for i in range(len(n)-1,-1,-1):
          print(n[i],end=" ")

In [24]:
rev_list([12,34,45,])

45 34 12