In [1]:
#for loop

s1='shourya'
for i in s1:
    print(i)

s
h
o
u
r
y
a

In [5]:
name=[12,23,34,56,45,76]   #[]--list
for i in name:
    print(i)

12
23
34
56
45
76

In [6]:
t1=(12,33,34,56,)  #(0---tuple
for i in t1:
    print(i)

12
33
34
56

In [8]:
#range functon
# range(10)----    0--9
#range(1,10)--- 1--9
#range(1,100,3)--- 1 4 7 10---

for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

In [13]:
for i in range(1,100,3):
    print(i,end=' ')

1 4 7 10 13 16 19 22 25 28 31 34 37 40 43 46 49 52 55 58 61 64 67 70 73 76 79 82 85 88 91 94 97

In [16]:
#sum of first n natural number

n=int(input('enter the stop value'))
s=0
for i in range(1,n+1):
    s=s+i
print('sum is ',s)

enter the stop value 3

sum is  6

In [20]:
#table of a given number
n=int(input('enter the number'))
for i in range(1,11):
      print(n,'*',i,'=',n*i)

enter the number 3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [25]:
#factors or divisor of a given number
n=int(input('enter the nmber'))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=' ')

enter the nmber 64

1 2 4 8 16 32 64

In [27]:

a=[1,3,54,3,3,34,]
for shourya in a:
    if shourya%2==0:
        print(shourya)
    else:
        print('bye')

bye
bye
54
bye
bye
34

In [29]:
si='a'
for i in range(5):
    print(si*i)

a
aa
aaa
aaaa

In [33]:
st='iit delhi'
for t in st:
    print(t,end='#')

i#i#t# #d#e#l#h#i#

In [35]:
a='hello everyone'
vowel=('a','e','i','o','u')
for i in a:
    if i not in vowel:
        print(i)

h
l
l

v
r
y
n

In [37]:
word='hello1'
for w in word:
    if w=='l':
        print('goodone')
    print('data science')

data science
data science
goodone
data science
goodone
data science
data science
data science

In [40]:
se=0
so=0
for i in range(1,100):
    if i%2==0:
        se=se+i
    else:
        so=so+i
print('sum of even num',se)
print('sum of odd number',so)

sum of even num 2450
sum of odd number 2500

In [43]:
n=int(input('enter teh number'))
f=1
for i in range(1,n+1):
    f=f*i
f

enter teh number 9

362880

In [45]:
# ---CONTINUE STATEMENTS---

s='sural'
for i in s:
    if i=='r':
        continue
        print('hello')
    else:
        print(i)

s
u
a
l

In [46]:
#---break statement--

s='suraj'
for i in s:
    if i=='r':
        break
    print(i)

s
u

In [49]:
# **pass statement**
s='string'
for i in s:
    if i=='r':
        pass
    print(i)

s
t
r
i
n
g