In [1]:
# pandas series
import pandas as pd

In [3]:
pd.Series([1,2,3,45,5])

0     1
1     2
2     3
3    45
4     5
dtype: int64

In [6]:
profit= pd.Series([75,35,46],index=['2018 profit','2019 profit','2020 profit'])
profit

2018 profit    75
2019 profit    35
2020 profit    46
dtype: int64

In [8]:
customer_sales=pd.DataFrame([[371,'melb','80'],[244,'london','50']],columns= ['customer_id','city','sales'])

In [9]:
customer_sales

   customer_id    city sales
0          371    melb    80
1          244  london    50