# lambda function

In [1]:
x=lambda a: a+10 #lambda var: expression(annonymous function)
x(1000)

1010

In [2]:
z=lambda a,b,c:a+b+c
z(1,2,3)

6

In [3]:
a=lambda x: x+2
a(22)

24

In [5]:
#PEMDAS parenthysis, exponent,multiply,divide,addision,substract
ismail=lambda a,b,c: a+b*c 
ismail(72,22,34)

820

# ------ if & else condition with lambda

In [7]:
a=lambda x:x*2 if x%2==0 else x    # true if false
a(31)

31

#                   map function   
syntax 
      map(fun, iter)

prarmeters:-
fun: its is a function to which map passes each element of given iterable.
iter: it is a iterable which is to be mapped.

In [9]:
number=[1,2,3,4]
list(map(lambda x : x+x,number))

[2, 4, 6, 8]

In [10]:
def addition(n):
    return(n*10)

In [11]:
number=[12,23,34,45]
result = map(addition,number)
list(result)

[120, 230, 340, 450]

In [13]:
number1= [1,2,3]          #important
number2=[4,5,6]
number3=[7,8,9]
result= map(lambda x,y,z :x+y+z, number1, number2, number3)
list(result)

[12, 15, 18]

In [15]:
my_pets= ['alfred', 'dev', 'dev2']
res= list(map(lambda x:x.upper(),my_pets))
res

['ALFRED', 'DEV', 'DEV2']

In [16]:
my_string=['a','b','c',]
my_number=[1,2,3]
my_name=['xx','yy','zz']
result=list(map(lambda x,y,z: (y,x+z),my_string,my_number,my_name))
list(result)

[(1, 'axx'), (2, 'byy'), (3, 'czz')]

#       filter
 syntax 
        filter(function,iterable)
        filter()method returns an iterator that passed the function checks for each elemenrts it the iterable.

In [17]:
my_list=[1,2,3,4,5,6,8,11]
new_list=list(filter(lambda x: x%2==0, my_list))
print(new_list)

[2, 4, 6, 8]

In [19]:
li=[5,6,4,6,4,2,4,7,8,9]
final_list=list(filter(lambda x: x%2!=0,li))
print(final_list)

[5, 7, 9]

In [23]:
# __________________________filter with lambda_________________________
drone=('demigod','rewire','madam','freer','antuforjack')
plaindromes=list(filter(lambda a : a == a[::-1],drone))
plaindromes

['madam']

In [27]:
randomlist=[1,'a',0,False,True,"0"]
filterlist=filter(None,randomlist)
list(filterlist)

[1, 'a', True, '0']

In [28]:
scores=[3,4,455,6,666,7,77,73,33,3]
def is_student(score):
    return score>30
over_30=list(filter(is_student,scores))
over_30

[455, 666, 77, 73, 33]

In [29]:






d

NameError: name 'd' is not defined

In [30]:
s1='pythod'
list(enumerate(s1))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'd')]

In [32]:
l1=['dl','ml','kl']
list(enumerate(l1,5))

[(5, 'dl'), (6, 'ml'), (7, 'kl')]

In [33]:
l1=['dl','ml','kl']
list(enumerate(l1,5))
for i,j in enumerate(l1):
    if i<2:
        print(j,i)

dl 0
ml 1